.pull-request-files-changed {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;

  border: var(--base-border);
  border-radius: var(--border-radius);

  .files-changed-header {
    padding: var(--spacing);
    border-bottom: var(--base-border);
    display: flex;
    gap: var(--spacing);

    .gap {
      flex-grow: 1;
    }

    .lines-added-deleted {
      display: flex;
      align-items: center;
      font-size: var(--font-size-sm);
      column-gap: var(--spacing-half);

      .lines-added {
        color: var(--color-new);
      }

      .lines-deleted {
        color: var(--color-deleted);
      }
    }
  }

  .files-diff-viewer {
    display: flex;
    min-height: 0;
    flex-grow: 1;
  }

  .file-list {
    border-right: var(--base-border);
  }
}
